Cat_Breed/
Cat_Breed.zip
test/

venv/

dist-newstyle/

_frame_to_detect.jpg
_frame.jpg
_temp_capture.jpg

_temp_crop_0.jpg
_temp_crop_1.jpg
_temp_crop_2.jpg
_temp_crop_3.jpg
_temp_crop_4.jpg

docs/informe.pdf